@model IPagedList<NotesMarketPlace.Models.tblManageCountry>
@using PagedList
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_AdminAfterLoginLayout.cshtml";
    int i = 0;
    ViewBag.Title = "ManageCountry";
}


<!-- Manage Country -->
<section id="managecountry" class="fixheight">
    <div class="content-box-md">
        <div class="container">
            <div class="row buy">
                <!-- General heading -->
                <div class="col-md-12">
                    <div class="com-heading ma">
                        <h3>Manage Country</h3>
                    </div>
                </div>
                <!-- General heading Ends-->

                <div class="col-md-4">
                    <button id="btn-manage-country" type="submit" class="btn  btn-manage"><a href="@Url.Action("addCountry","admin")">Add Country</a></button>
                </div>
                <div class="col-md-8">
                    <form>
                        <div class="manage search-box buy2 pull-right has-search">
                            @Html.TextBox("searchTxt", null, new { @class = "form-control search-icon", @id = "search2", @placeholder = "Search" })
                            <button id="btn-buy" type="submit" class="btn btn-primary btn-block"> Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Table data -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Country Name</th>
                            <th scope="col">Country Code</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Added By</th>
                            <th scope="col">Active</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr> <td colspan="7" class="align-middle"> Records not found </td></tr>
                        }
                        @foreach (NotesMarketPlace.Models.tblManageCountry item in Model)
                        {

                            <tr>
                                <th scope="row">@(i += 1)</th>
                                <td>@item.countryName</td>
                                <td>@item.countryCode</td>
                                <td>@item.createdDate</td>
                                <td>@item.tblUser.firstName @item.tblUser.lastName</td>

                                @if (item.isActive)
                                {
                                    <td> yes </td>
                                }
                                else
                                {
                                    <td> No </td>

                                }
                                <td>
                                    <a href="/admin/editCountry/@item.id"><img src="~/Content/images/icon-image/edit.png" class="img1"></a>
                                    <a href="javascript:void(0);" onclick="deleteCategory(@item.id);"><img src="~/Content/images/icon-image/delete.png" class="img2"></a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <script>
                    function deleteCategory(id) {
                        document.getElementById("DeleteForId").value = id;
                        $('#exampleModalLong2').modal('show');
                    }
                </script>

                <!-- modal for InActive country -->
                <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post">
                            <div class="modal-content review-modal">
                                <div class="popup-head text-center">
                                    <h5 class="modal-title" id="exampleModalLongTitle">
                                        Are you sure you want to make this country inactive?
                                    </h5>
                                </div>
                                <div class="content">
                                    <input type="hidden" name="DeleteForId" id="DeleteForId" />

                                    <button class="btn-note-reject btn-yes" type="submit" value="delete" name="command" id="btn-yes">Yes</button>
                                    <button id="cancel" type="button" class="btn btn-primary close-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of modal for InActive country -->

            </div>
            <!-- Table data ends -->

        </div>

        <!-- Pagination -->
        <div class="pagination-container">
            @Html.PagedListPager(Model, pageindex => Url.Action("manageCountry", "admin", new { pageindex, search = Request.QueryString["searchTxt"] }), new PagedList.Mvc.PagedListRenderOptions
          {
              ContainerDivClasses = null,
              LiElementClasses = new string[] { "pgno" },
              UlElementClasses = new string[] { "pagination" },
              LinkToPreviousPageFormat = "<",
              LinkToNextPageFormat = ">",
              MaximumPageNumbersToDisplay = 5,
              DisplayEllipsesWhenNotShowingAllPageNumbers = false,
              DisplayLinkToFirstPage = PagedListDisplayMode.Never,
              DisplayLinkToLastPage = PagedListDisplayMode.Never
          })
        </div>
        <!-- Pagination Ends -->

    </div>
</section>

