@model NotesMarketPlace.Models.ChangePassViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change Password";
}

<section id="bg-full">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 text-center logo-resize">
                <img src="~/Content/images/logo/top-logo.png">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-12 col-12">
                <div class="form_container">
                    <form method="post">
                        <div class="first-line text-center">
                            <h1>Change Password</h1>
                            <p>Enter your new password to change your password</p>
                        </div>
                        <span style="color: green; font-size:28px;"><b>@ViewBag.change</b></span>
                        <span style="color: red; font-size:24px;"><b>@ViewBag.changepwd</b></span>
                        <div class="form-content">
                            <div class="form-group">
                                <label for="oldpwd">Old Password</label>
                                @Html.PasswordFor(m => m.oldPwd, new { @placeholder = "Enter your old password", @class = "form-control", @id = "oldpwd" })
                                @Html.ValidationMessageFor(model => model.oldPwd, "", new { @class = "text-danger" })
                                <img src="~/Content/images/login/eye.png" alt="Eye-image" class="eye-image" onclick="changeVisible(this)">
                            </div>
                            <div class="form-group">
                                <label for="newpwd">New Password</label>
                                @Html.PasswordFor(m => m.NewPwd, new { @placeholder = "Enter your new password", @class = "form-control", @id = "newpwd" })
                                @Html.ValidationMessageFor(model => model.NewPwd, "", new { @class = "text-danger" })
                                <img src="~/Content/images/login/eye.png" alt="Eye-image" class="eye-image" onclick="changeVisible(this)">
                            </div>
                            <div class="form-group">
                                <label for="cnfmpwd">Confirm Password</label>
                                @Html.PasswordFor(m => m.CnfmPwd, new { @placeholder = "Enter your confirm password", @class = "form-control", @id = "cnfmpwd" })
                                @Html.ValidationMessageFor(model => model.CnfmPwd, "", new { @class = "text-danger" })
                                <img src="~/Content/images/login/eye.png" alt="Eye-image" class="eye-image" onclick="changeVisible(this)">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
