
@{
    if (@Session["emailID"] == null)
    {
        Layout = "~/Views/Shared/_beforeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_afterLoginLayout.cshtml";
    }
    ViewBag.Title = "Contact Us";
}

<div>
    <section id="contactus">
        <!-- up Background photo -->
        <div id="bg-half" class="image-fluid">
            <!-- heading of page -->
            <div id="page-heading" class="text-center">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="content-box-md">
            <div class="container">
                <!-- General heading -->
                <div class="general-heading">
                    <h3>Get in Touch</h3>
                    <p>Let us know how to get back to you</p>
                </div>
                <span style="color: green; font-size:30px;"><b>@ViewBag.success</b></span>
                <div class="contact">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6 fo">
                                <div class="form-content">
                                    <div class="form-group">
                                        <label for="fullname">Full Name *</label>
                                        @if (Session["emailID"] != null)
                                        {
                                            @Html.TextBox("fullname", (string)ViewBag.fullname, new { @class = "form-control", @required = "required", @name = "fullname" })
                                            @Html.ValidationMessage("fullname", new { @class = "text-danger" });
                                        }
                                        else
                                        {
                                            @Html.TextBox("fullname", null, new { @class = "form-control", @placeholder = "Enter your full name", @required = "required", @name = "fullname" })
                                            @Html.ValidationMessage("fullname", new { @class = "text-danger" });
                                        }


                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email Address *</label>
                                        @if (Session["emailID"] != null)
                                        {
                                            @Html.TextBox("email", (string)ViewBag.emailAdd, new { @class = "form-control", @type = "email", @required = "required", @name = "email", @disabled = "disabled" })
                                            @Html.ValidationMessage("email", new { @class = "text-danger" });
                                        }
                                        else
                                        {
                                            @Html.TextBox("email", null, new { @class = "form-control", @type = "email", @placeholder = "Enter your email address", @required = "required", @name = "email" })
                                            @Html.ValidationMessage("email", new { @class = "text-danger" });
                                        }


                                    </div>
                                    <div class="form-group">
                                        <label for="sub">Subject *</label>
                                        @Html.TextBox("sub", null, new { @class = "form-control", @placeholder = "Enter your subject", @required = "required", @name = "sub" })
                                        @Html.ValidationMessage("sub", new { @class = "text-danger" });

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 com">
                                <div class="form-content">
                                    <div class="form-group">
                                        <label for="comment">Comments / Questions *</label>
                                        @Html.TextArea("comment", new { @placeholder = "Comments...", @class = "form-control", @required = "required", @name = "comment" })
                                        @Html.ValidationMessage("comment", new { @class = "text-danger" });

                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="btn-user" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
