@model NotesMarketPlace.Models.tblUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<div id="login">
    <!-- login section -->
    <section id="bg-full">
        <div class="container">

            <!-- LOGO -->
            <div class="row justify-content-center">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 text-center logo-resize">
                    <img src="~/Content/images/logo/top-logo.png">
                </div>

            </div>
            <!-- LOGO ends -->

            <!-- Login content -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-12 col-12">
                    <div class="form_container">
                        <form method="post">
                            <div class="first-line text-center">
                                <h1>Login</h1>
                                <p>Enter your email address and password to login</p>
                            </div>
                            @ViewBag.error
                            <div class="form-content">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    @Html.TextBoxFor(m => m.emailID, new { @placeholder = "Enter your emailID", @class = "form-control", @id = "email" })
                                    @Html.ValidationMessageFor(model => model.emailID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <a href="@Url.Action("forgotPassword", "user")" id="forgot" class="fp">Forgot Password?</a>
                                    @Html.PasswordFor(m => m.password, new { @placeholder = "Enter your password", @class = "form-control", @id = "password" })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    <img src="~/Content/images/login/eye.png" alt="Eye-image" class="eye-image" onclick="changeVisible(this);">
                                </div>
                                <div class="form-group form-check" id="check">
                                    @Html.CheckBoxFor(m => m.Rememberme, new { @class = "form-check-input", id = "check_box" })
                                    @Html.LabelFor(m => m.Rememberme, new { @class = "form-check-label", id = "rememberme" })
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                                <div class="link-for-registration">
                                    <p class="text-center">Don't have an account?<a href="@Url.Action("SignUp", "user")"> Sign Up</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Login content ends -->

        </div>
    </section>
    <!-- login section -->
</div>

