@model IPagedList<NotesMarketPlace.Models.ViewModel>
@using PagedList
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_afterLoginLayout.cshtml";
    int rowNo = 0;
    ViewBag.Title = "My SoldNotes";
}

<section id="mysoldnote" class="table-page fixheight">
    <div class="content-box-md">
        <div class="container">
            <!-- General heading -->
            <div class="row buy">
                <div class="col-md-4">
                    <div class="com-heading">
                        <h3>My Sold Notes</h3>
                    </div>
                </div>
                <div class="col-md-8">
                    <form method="post">
                        <div class="search-box buy2 has-search">
                            @Html.TextBox("searchTxt", null, new { @class = "form-control search-icon", @id = "search2", @placeholder = "Search" })
                            <button id="btn-buy" type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">@Html.ActionLink("Note Title", "MySoldNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Note Title" })</th>
                            <th scope="col">@Html.ActionLink("Category", "MySoldNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category" })</th>
                            <th scope="col">@Html.ActionLink("Buyer", "MySoldNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Buyer" })</th>
                            <th scope="col">@Html.ActionLink("Sell Type", "MySoldNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Sell Type" })</th>
                            <th scope="col">@Html.ActionLink("Price", "MySoldNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Price" })</th>
                            <th scope="col"></th>
                            <th scope="col">Downloded Date/Time</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NotesMarketPlace.Models.ViewModel item in (IEnumerable<NotesMarketPlace.Models.ViewModel>)ViewData.Model)
                        {
                        <tr>
                            <th scope="row">@(rowNo += 1)</th>
                            <td><a href="/user/NoteDetails?id=@item.noteViewModel.id">@item.noteViewModel.noteTitle</a></td>
                            <td>@item.categoryViewModel.categoryName</td>
                            <td>@item.userViewModel.emailID</td>
                            @if (item.downloadViewModel.isPaid)
                            {
                                <td> Paid </td>
                            }
                            else
                            {
                                <td> Free </td>

                            }
                            <td>$@item.noteViewModel.sellingPrice</td>
                            <td></td>
                            <td>@item.noteViewModel.createdDate</td>
                            <td><a href="/user/NoteDetails?id=@item.noteViewModel.id"><img src="~/Content/images/icon-image/eye.png" class="eye-img"></a></td>
                            <td>
                                <div class="dropdown">
                                    <a class="nav-link" href="javascript:void(0);" id="three-dot-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><img src="~/Content/images/icon-image/dots.png" alt="Dots-Menu"></span></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="/user/DownloadBookfromMyWindow?bookId=@item.downloadViewModel.noteID" class="dropdown-item">Download Note</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                           
                        </tbody>
                </table>
            </div>
        </div>
        <div class="pagination-container">
            @Html.PagedListPager(Model, pageindex => Url.Action("MySoldNotes", "user", new { pageindex, search = Request.QueryString["searchTxt"] }), new PagedList.Mvc.PagedListRenderOptions
            {
                ContainerDivClasses = null,
                LiElementClasses = new string[] { "pgno" },
                UlElementClasses = new string[] { "pagination" },
                LinkToPreviousPageFormat = "<",
                LinkToNextPageFormat = ">",
                MaximumPageNumbersToDisplay = 5,
                DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never
            })
        </div>
    </div>
</section>

